@page
@using Itbeard.Shortener
@using Microsoft.Extensions.Localization
@model Itbeard.Shortener.Pages.ErrorModel
@inject IStringLocalizer<Localizations> Loc

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>Error</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link href="site.css" rel="stylesheet"/>
</head>

<body>
<div class="main">
    <div class="content px-4">
        <h2 class="text-danger">@Loc[Localizations.Error_Message]</h2>
    </div>
</div>
</body>

</html>