@page "/admin"
@attribute [Authorize]

<style>

</style>

<div class="admin">
    <NavMenu />
    <h1>Админка ссылок</h1>
    <div>
        <a href="admin/reduce">Создать ссылку</a>
    </div>
</div>

@code {
}