.target-link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 400px;
}

table {
    margin-top: 20px;
    font-size: 0.9rem;
    border-collapse: collapse;
}

table td {
    vertical-align: middle;
}

table button {
    margin: 0 3px;
}

.table > :not(:last-child) > :last-child > * {
    border-bottom: 2px solid darkgray;
    color: darkgray;
}

table .date-header {
    width: 100px;
}

table .name-header {
    min-width: 110px
}

table .statistics-header {
    width: 100px
}

table .actions-header {
    width: 60px;
}

table .actions-row {
    border-left: 2px dotted gray;
}

.actions-buttons {
    margin: 0 auto;
    white-space: pre;
}