.reducer {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    color: gray;
    font-size: 27px;
    margin: 20px 0 30px 0;
    font-weight: bold;
}

div {
    margin-bottom: 20px;
}

input,
button {
    width: 100%;
    border: 2px solid lightblue;
    border-radius: 3px;
    padding: 6px 10px;
}

button {
    background-color: lightgray;
    border: 2px solid darkgrey;
    color: gray;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background-color: gray;
    border-color: gray;
    color: white;
}

.copy button {
    background-color: lightgreen;
    border: 2px solid darkgreen;
    color: darkgreen;
    font-weight: bold;
    transition: 0.3s;
}

.copy button:hover {
    background-color: darkgreen;
    border-color: darkgreen;
    color: white;
}
.copy button:active {
    background-color: darkslategray;
    border-color: darkgreen;
    color: white;
}

.result {
    margin-top: 20px;
}

.errors {
    color: red;
    font-weight: bold;
    text-align: center;
}